<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/pulsar-docs/site.min.css" />
    <% //This css path is only needed because my account for GitHub already has a root page %>
  </head>
  <body class="bg-canvas flex flex-col min-h-screen text-text">
